#header {
    display: flex;
    justify-content: space-between;
}

h1 {

    padding-left: 45%;
}

.hello {
    padding: 4%;
    width: 70%;
    padding-left: 15%;
}



mat-form-field {
    width: 100%;

}



form {

    padding-left: 10%;
    margin-left: 15%;
    margin-right: 20%;

}

#product-content {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
}

#product-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

#product-detail img {
    width: 80%;
}

#product-detail p {
    width: 90%;
    margin-top: 10px;
    text-align: justify;
}

#product-request {
    width: 35%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

#per-product {
    font-size: small;
}

p,
h1 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 47%;
    padding-top: 5%;
}

h2 {
    padding-left: 47%;
}

#image {
    border-radius: 25px;
}

.btn {
    margin-top: 5%;
    margin-left: 45%;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #ff9292,
        -6px -6px 12px #e7abff;
}

.btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #fd8484 0%, #cfabfe 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;

}

.btn:hover::before {
    width: 9em;
}