/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    background-image: url('../src/assets/images/photo-1552689486-f6773047d19f.avif');

    background-size: cover;
    background-attachment: fixed;

}